@model VrstaKamere

@{
  ViewBag.Title = "Ažuriranje vrste";
}

<form asp-route-id="@Model.VrstaKamereId"
      asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
  <div asp-validation-summary="All"></div>
  @*Ne koristi se, jer se ne rekonstruira cijela država, već se samo koristi id koji je već u parametrima route*@
  @*<input type="hidden" asp-for="OznDrzave" />*@
  <div class="form-group">
    <label asp-for="VrstaKamereNaziv"></label>
    <div><span asp-validation-for="VrstaKamereNaziv" class="text-danger"></span></div>
    <input asp-for="VrstaKamereNaziv" class="form-control" />
  </div>
  <div class="text-center">
    <button class="btn btn-primary" type="submit">Spremi</button>
    <a asp-action="Index"
       asp-route-page="@ViewBag.Page"
       asp-route-sort="@ViewBag.Sort"
       asp-route-ascending="@ViewBag.Ascending"
       class="btn btn-secondary">Odustani</a>
  </div>
</form>

@section scripts {
  <partial name="IncludeValidation" />
}